---
layout: car
title: Car
pagination:
  data: photos.dvgfira.media
  size: 1
permalink: "cars/page-{{ pagination.pageNumber | plus: 1 }}/index.html"
---

{% for car in pagination.items -%}

<figure>
  <img src="{{ car.src.large }}" alt="{{ car.alt }}" />
</figure>

<article style="background-color: {{ car.avg_color }};">
  <p>
    Image Description: 
    <em>
      <a href="{{ car.src.large }}">
        {{ car.alt }}
      </a>
    </em>
  </p>

  <br />

  <p>
    Photographer:
    <a href="{{ car.photographer_url }}">
      {{ car.photographer }}
    </a>
  </p>

  <br />

  <p>Move between Car Pages:</p>

  <ul>
  
    <li>
      <a href="{{ pagination.href.first }}">
        First
      </a>
    </li>
  
    <li>{% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">
        Previous
      </a>{% else %}Previous{% endif %}
    </li>
  
    <li>{% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">
        Next
      </a>{% else %}Next{% endif %}
    </li>
  
    <li>
      <a href="{{ pagination.href.last }}">
        Last
      </a>
    </li>
  
  </ul>

</article>
{% endfor -%}